.switch-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  /* background-color: pink; */
}

.switch-label {
  font-family: "Helvetica Neue";
  /* background-color: coral; */
  margin: auto 0px;
}

.switch-outer-container {
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}

.greyed-out {
  color: grey;
}
