.keyboard-container {
  justify-content: center;
  padding: 20px;
}

.keyboard {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.button-row {
  display: flex;
  justify-content: center;
}
