.tile-container {
  width: 62px;
  height: 62px;
  /* background-color: lightblue; */
  margin: 3px;
  border: 2px solid lightgrey;
}

.is-current {
  border: 2px solid black;

  /* border-color: black;
  background-color: green; */
}

.tile-green {
  background-color: greenyellow;
}

.tile-grey {
  background-color: lightgrey;
}

.tile-yellow {
  background-color: yellow;
}
